{
  "parser": "@typescript-eslint/parser",
  "reportUnusedDisableDirectives": false,
  "extends": [
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/extensions": [
      "error",
      "never",
      {
        "json": "always",
        "svg": "always",
        "mock": "always",
        "js": "always"
      }
    ],
    "import/no-unresolved": "off"
  },
  "settings": {
    "import/parser": "@typescript-eslint/parser",
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended"
      ],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "vars": "all",
            "args": "after-used",
            "ignoreRestSiblings": true,
            "argsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-extra-semi": "off"
      }
    }
  ]
}
